# Preprocessing for the Travel dataset

This notebook outlines the steps taken to preprocess the Travel dataset for analysis.

## Importing Libraries

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import warnings
import os
from pathlib import Path
import json
warnings.filterwarnings('ignore')

## Loading Datasets

In [30]:
dataset_dir = Path.cwd().joinpath("datasets")

train_dataset = "train.csv"
test_dataset = "test.csv"

train_df = pd.read_csv(dataset_dir.joinpath(train_dataset))
test_df = pd.read_csv(dataset_dir.joinpath(test_dataset))

print("Successfully loaded dataset:", train_dataset, ",", test_dataset)

Successfully loaded dataset: train.csv , test.csv

## Data Analysis

In [31]:
def perform_eda(df, save=True, config_file="categorical_config.json"):
    """
    Perform basic exploratory data analysis.
    Saves low-cardinality categorical values to a JSON config file.
    """

    # Dataset Info
    print("\nDataset Info:")
    print(df.info())

    # Shape
    print(f"\nDataset Shape: {df.shape}")

    # Statistical summary
    print("\nStatistical Summary:")
    print(df.describe())

    # Missing values
    print("\nMissing Values:")
    missing = df.isnull().sum()
    missing_pct = (missing / len(df)) * 100
    missing_df = pd.DataFrame({
        'Missing_Count': missing,
        'Percentage': missing_pct
    })
    print(missing_df[missing_df['Missing_Count'] > 0].sort_values('Missing_Count', ascending=False))

    # Data types
    print("\nData Types:")
    print(df.dtypes.value_counts())

    # Duplicate rows
    duplicates = df.duplicated().sum()
    print(f"\nDuplicate Rows: {duplicates}")

    # --- MODIFIED SECTION START ---
    print("\nUnique Values in Categorical Columns:")
    
    # Included 'category' dtype as well as object
    categorical_cols = df.select_dtypes(include=['object', 'category']).columns
    
    # Dictionary to store values for the config file
    low_cardinality_map = {}

    for col in categorical_cols:
        unique_count = df[col].nunique()
        print(f"{col}: {unique_count} unique values")
        
        # Logic: If less than 20 unique values
        if unique_count < 20:
            # Get unique values and convert to a standard Python list
            # We convert to str to ensure it is JSON serializable (handles np.nan objects)
            unique_vals = [str(x) for x in df[col].unique().tolist()]
            
            # 1. Print them
            print(f"   -> [Low Cardinality] Values: {unique_vals}")
            
            # 2. Add to dictionary for saving
            low_cardinality_map[col] = unique_vals

    # Save to config file if we found any matching columns
    if low_cardinality_map and save:
        try:
            with open(config_file, 'w') as f:
                json.dump(low_cardinality_map, f, indent=4)
            print(f"\n[SUCCESS] Low cardinality categories saved to '{config_file}'")
        except Exception as e:
            print(f"\n[ERROR] Could not save config file: {e}")
    # --- MODIFIED SECTION END ---

    return df

print("\n" + "="*50)
print("EXPLORATORY DATA ANALYSIS for train")
print("="*50)
d = perform_eda(train_df, False)
print("\n" + "="*50)
print("EXPLORATORY DATA ANALYSIS for test")
print("="*50)
d = perform_eda(test_df, False)

==================================================
EXPLORATORY DATA ANALYSIS for train
==================================================

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12654 entries, 0 to 12653
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   trip_id                      12654 non-null  object
 1   country                      12424 non-null  object
 2   age_group                    12646 non-null  object
 3   travel_companions            11917 non-null  object
 4   num_females                  12652 non-null  float64
 5   num_males                    12650 non-null  float64
 6   main_activity                12526 non-null  object
 7   visit_purpose                12654 non-null  object
 8   is_first_visit               12555 non-null  object
 9   mainland_stay_nights         12654 non-null  int64
 10  island_stay_nights           12654 non-null  int64
 11  tour_type                    12654 non-null  object
 12  intl_transport_included      12507 non-null  object
 13  info_source                  12654 non-null  object
 14  accomodation_included        12511 non-null  object
 15  food_included                12483 non-null  object
 16  domestic_transport_included  12654 non-null  object
 17  sightseeing_included         12654 non-null  object
 18  guide_included               12654 non-null  object
 19  insurance_included           12418 non-null  object
 20  days_booked_before_trip      11101 non-null  object
 21  arrival_weather              9251 non-null   object
 22  total_trip_days              12252 non-null  object
 23  has_special_requirements     4537 non-null   object
 24  spend_category               12620 non-null  float64
dtypes: float64(3), int64(2), object(20)
memory usage: 2.4+ MB
None

Dataset Shape: (12654, 25)

Statistical Summary:
        num_females     num_males  mainland_stay_nights  island_stay_nights  \
count  12652.000000  12650.000000          12654.000000        12654.000000
mean       0.943724      1.009407              9.205073            2.516833
std        1.268167      1.234850             14.548536            5.132266
min        0.000000      0.000000              0.000000            0.000000
25%        0.000000      1.000000              3.000000            0.000000
50%        1.000000      1.000000              6.000000            0.000000
75%        1.000000      1.000000             11.000000            4.000000
max       49.000000     58.000000            365.000000          240.000000

       spend_category
count    12620.000000
mean         0.621157
std          0.683645
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          2.000000

Missing Values:
                          Missing_Count  Percentage
has_special_requirements           8117   64.145725
arrival_weather                    3403   26.892682
days_booked_before_trip            1553   12.272799
travel_companions                   737    5.824245
total_trip_days                     402    3.176861
insurance_included                  236    1.865023
country                             230    1.817607
food_included                       171    1.351351
intl_transport_included             147    1.161688
accomodation_included               143    1.130077
main_activity                       128    1.011538
is_first_visit                       99    0.782361
spend_category                       34    0.268690
age_group                             8    0.063221
num_males                             4    0.031611
num_females                           2    0.015805

Data Types:
object     20
float64     3
int64       2
Name: count, dtype: int64

Duplicate Rows: 0

Unique Values in Categorical Columns:
trip_id: 12654 unique values
country: 123 unique values
age_group: 5 unique values
   -> [Low Cardinality] Values: ['45-64', '25-44', '18-24', '65+', 'nan', '<18']
travel_companions: 5 unique values
   -> [Low Cardinality] Values: ['With Spouse and Children', 'Alone', 'With Other Friends/Relatives', 'With Spouse', 'nan', 'With Children']
main_activity: 10 unique values
   -> [Low Cardinality] Values: ['Beach Tourism', 'Conference Tourism', 'Cultural Tourism', 'Widlife Tourism', 'Wildlife Tourism', 'Hunting Tourism', 'Mountain Climbing', 'Bird Tourism', 'Business', 'nan', 'Diving and Sport Fishing']
visit_purpose: 8 unique values
   -> [Low Cardinality] Values: ['Leisure and Holidays', 'Meetings and Conference', 'Business', 'Other', 'Scientific and Academic', 'Visiting Friends and Relatives', 'Volunteering', 'Medical']
is_first_visit: 2 unique values
   -> [Low Cardinality] Values: ['Yes', 'No', 'nan']
tour_type: 2 unique values
   -> [Low Cardinality] Values: ['Independent', 'Package Tour']
intl_transport_included: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes', 'nan']
info_source: 8 unique values
   -> [Low Cardinality] Values: ['Newspaper, magazines, brochures', 'Others', 'Friends, relatives', 'Travel agent, tour operator', 'Radio, TV, Web', 'Mexican Mission Abroad', 'Trade fair', 'Inflight magazines']
accomodation_included: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes', 'nan']
food_included: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes', 'nan']
domestic_transport_included: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes']
sightseeing_included: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes']
guide_included: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes']
insurance_included: 2 unique values
   -> [Low Cardinality] Values: ['No', 'nan', 'Yes']
days_booked_before_trip: 6 unique values
   -> [Low Cardinality] Values: ['nan', '15-30 ', '90+', '8-14', '61-90', '31-60', '1-7 ']
arrival_weather: 7 unique values
   -> [Low Cardinality] Values: ['cloudy,', 'sunny,', 'nan', 'other', 'Rainy', 'Windy,', 'humid', 'Stormy']
total_trip_days: 4 unique values
   -> [Low Cardinality] Values: ['30+', 'nan', '7-14', '1-6', '15-30']
has_special_requirements: 4 unique values
   -> [Low Cardinality] Values: ['nan', 'none', 'wheelchair,', 'dietary needs,', 'translator required.']

==================================================
EXPLORATORY DATA ANALYSIS for test
==================================================

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5852 entries, 0 to 5851
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   trip_id                      5852 non-null   object
 1   country                      5726 non-null   object
 2   age_group                    5852 non-null   object
 3   travel_companions            5514 non-null   object
 4   num_females                  5852 non-null   float64
 5   num_males                    5850 non-null   float64
 6   main_activity                5787 non-null   object
 7   visit_purpose                5852 non-null   object
 8   is_first_visit               5813 non-null   object
 9   mainland_stay_nights         5852 non-null   int64
 10  island_stay_nights           5852 non-null   int64
 11  tour_type                    5852 non-null   object
 12  intl_transport_included      5795 non-null   object
 13  info_source                  5852 non-null   object
 14  accomodation_included        5790 non-null   object
 15  food_included                5774 non-null   object
 16  domestic_transport_included  5852 non-null   object
 17  sightseeing_included         5852 non-null   object
 18  guide_included               5852 non-null   object
 19  insurance_included           5745 non-null   object
 20  days_booked_before_trip      5185 non-null   object
 21  arrival_weather              4259 non-null   object
 22  total_trip_days              5699 non-null   object
 23  has_special_requirements     2126 non-null   object
dtypes: float64(2), int64(2), object(20)
memory usage: 1.1+ MB
None

Dataset Shape: (5852, 24)

Statistical Summary:
       num_females    num_males  mainland_stay_nights  island_stay_nights
count  5852.000000  5850.000000           5852.000000         5852.000000
mean      0.920027     0.975726              9.004272            2.443096
std       1.093210     1.026954             13.171125            5.571739
min       0.000000     0.000000              0.000000            0.000000
25%       0.000000     1.000000              3.000000            0.000000
50%       1.000000     1.000000              6.000000            0.000000
75%       1.000000     1.000000             10.000000            4.000000
max      15.000000    24.000000            300.000000          120.000000

Missing Values:
                          Missing_Count  Percentage
has_special_requirements           3726   63.670540
arrival_weather                    1593   27.221463
days_booked_before_trip             667   11.397813
travel_companions                   338    5.775803
total_trip_days                     153    2.614491
country                             126    2.153110
insurance_included                  107    1.828435
food_included                        78    1.332878
main_activity                        65    1.110731
accomodation_included                62    1.059467
intl_transport_included              57    0.974026
is_first_visit                       39    0.666439
num_males                             2    0.034176

Data Types:
object     20
float64     2
int64       2
Name: count, dtype: int64

Duplicate Rows: 0

Unique Values in Categorical Columns:
trip_id: 5852 unique values
country: 117 unique values
age_group: 5 unique values
   -> [Low Cardinality] Values: ['25-44', '45-64', '65+', '18-24', '<18']
travel_companions: 5 unique values
   -> [Low Cardinality] Values: ['Alone', 'With Spouse', 'With Other Friends/Relatives', 'With Spouse and Children', 'nan', 'With Children']
main_activity: 10 unique values
   -> [Low Cardinality] Values: ['Widlife Tourism', 'Cultural Tourism', 'Wildlife Tourism', 'Beach Tourism', 'Hunting Tourism', 'Conference Tourism', 'Mountain Climbing', 'Business', 'nan', 'Bird Tourism', 'Diving and Sport Fishing']
visit_purpose: 8 unique values
   -> [Low Cardinality] Values: ['Business', 'Leisure and Holidays', 'Visiting Friends and Relatives', 'Meetings and Conference', 'Volunteering', 'Scientific and Academic', 'Other', 'Medical']
is_first_visit: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes', 'nan']
tour_type: 2 unique values
   -> [Low Cardinality] Values: ['Independent', 'Package Tour']
intl_transport_included: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes', 'nan']
info_source: 8 unique values
   -> [Low Cardinality] Values: ['Friends, relatives', 'Travel agent, tour operator', 'Others', 'Radio, TV, Web', 'Newspaper, magazines, brochures', 'Trade fair', 'Mexican Mission Abroad', 'Inflight magazines']
accomodation_included: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes', 'nan']
food_included: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes', 'nan']
domestic_transport_included: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes']
sightseeing_included: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes']
guide_included: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes']
insurance_included: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes', 'nan']
days_booked_before_trip: 6 unique values
   -> [Low Cardinality] Values: ['15-30 ', '61-90', '1-7 ', '90+', '31-60', '8-14', 'nan']
arrival_weather: 7 unique values
   -> [Low Cardinality] Values: ['sunny,', 'Stormy', 'cloudy,', 'nan', 'Rainy', 'Windy,', 'other', 'humid']
total_trip_days: 4 unique values
   -> [Low Cardinality] Values: ['15-30', '1-6', '30+', '7-14', 'nan']
has_special_requirements: 4 unique values
   -> [Low Cardinality] Values: ['wheelchair,', 'nan', 'none', 'dietary needs,', 'translator required.']

## Understanding the Dataset

Train and Test datasets each have a ton of missing values, most of them are less than 5% missing, but some columns have more than 50% missing values.

Two options, drop the values of those columns or impute them.

For now, we will drop datapoints for which columns have less than 10% missing values and for columns with more than 10% missing values those columns will be dropped.

In [32]:
def handle_missing_values(df, strategy='auto'):
    """
    Handle missing values using different strategies

    Parameters:
    - strategy: 'auto', 'mean', 'median', 'mode', 'drop', 'drop_column, or custom dict
    """

    df_copy = df.copy()

    # Identify numerical and categorical columns
    numerical_cols = df_copy.select_dtypes(include=['int64', 'float64']).columns.tolist()
    categorical_cols = df_copy.select_dtypes(include=['object', 'category']).columns.tolist()

    if strategy == 'auto':
        # For numerical: use median
        if numerical_cols:
            num_imputer = SimpleImputer(strategy='median')
            df_copy[numerical_cols] = num_imputer.fit_transform(df_copy[numerical_cols])
            print(f"Imputed {len(numerical_cols)} numerical columns with median")

        # For categorical: use mode
        if categorical_cols:
            for col in categorical_cols:
                if df_copy[col].isnull().sum() > 0:
                    mode_value = df_copy[col].mode()[0] if len(df_copy[col].mode()) > 0 else 'Unknown'
                    df_copy[col].fillna(mode_value, inplace=True)
            print(f"Imputed {len(categorical_cols)} categorical columns with mode")

    elif strategy == 'mean':
        num_imputer = SimpleImputer(strategy='mean')
        df_copy[numerical_cols] = num_imputer.fit_transform(df_copy[numerical_cols])

    elif strategy == 'median':
        num_imputer = SimpleImputer(strategy='median')
        df_copy[numerical_cols] = num_imputer.fit_transform(df_copy[numerical_cols])

    elif strategy == 'drop':
        # 1. Calculate the percentage of missing values for each column
        null_percentages = df_copy.isnull().mean()

        # 2. Identify columns where missing values are less than 10% (0.1)
        # We also ensure > 0 to avoid checking columns that are already full
        cols_to_check = null_percentages[
            (null_percentages < 0.10) & (null_percentages > 0)
        ].index

        # 3. Drop rows only if they have NaN in those specific columns
        df_copy = df_copy.dropna(subset=cols_to_check)
        print(f"Dropped rows with missing values. New shape: {df_copy.shape}")
    
    elif strategy == 'drop_column':
        # Drop columns with more than 10% missing values
        df_copy = df_copy.drop(columns=df_copy.columns[df_copy.isnull().sum() > 0.1 * len(df_copy)])

    print(f"\nMissing values after imputation: {df_copy.isnull().sum().sum()}")

    return df_copy

print("\n" + "="*50)
print("HANDLING MISSING VALUES (Corrected)")
print("="*50)

# --- TRAIN DATA ---
# It is okay to drop rows in training if that's your preferred strategy
print("Processing TRAIN data...")
train_df = handle_missing_values(train_df, strategy='drop')         # Drop rows with missing values
train_df = handle_missing_values(train_df, strategy='drop_column')  # Drop columns with too many missing values

# --- TEST DATA ---
# NEVER drop rows in test data. Use imputation ('auto') instead.
print("\nProcessing TEST data...")
test_df = handle_missing_values(test_df, strategy='auto')          # <--- CHANGED: Impute instead of drop
test_df = handle_missing_values(test_df, strategy='drop_column')   # Drop columns (risky* see note below)

# *NOTE ON DROPPING COLUMNS: 
# If 'drop_column' removes a column in Train but keeps it in Test (or vice versa), 
# your model will crash due to mismatched features. 
# A safer way is to align them at the end:
train_cols = train_df.columns.tolist()
# Ensure test only has columns that are in train (excluding target 'spend_category')
cols_to_keep = [c for c in train_cols if c != 'spend_category']
test_df = test_df[cols_to_keep]

==================================================
HANDLING MISSING VALUES (Corrected)
==================================================
Processing TRAIN data...
Dropped rows with missing values. New shape: (10492, 25)

Missing values after imputation: 10850

Missing values after imputation: 0

Processing TEST data...
Imputed 4 numerical columns with median
Imputed 20 categorical columns with mode

Missing values after imputation: 0

Missing values after imputation: 0

## Detecting Outliers

We're using the IQR method to detect outliers in the dataset.

In [33]:
def detect_outliers_iqr(df, columns=None, threshold=1.5):

    if columns is None:
        columns = df.select_dtypes(include=['int64', 'float64']).columns

    outlier_indices = []

    for col in columns:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1

        lower_bound = Q1 - threshold * IQR
        upper_bound = Q3 + threshold * IQR

        outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)].index
        outlier_indices.extend(outliers)

        print(f"{col}: {len(outliers)} outliers detected")

    return list(set(outlier_indices))

"""Detect outliers using IQR method"""
print("\n" + "="*50)
print("OUTLIER DETECTION for train dataset")
print("="*50)
# indices of outlers in the dataset
outliers_train = detect_outliers_iqr(train_df)

print("\n" + "="*50)
print("OUTLIER DETECTION for test dataset")
print("="*50)
# indices of outlers in the dataset
outliers_test = detect_outliers_iqr(test_df)

==================================================
OUTLIER DETECTION for train dataset
==================================================
num_females: 568 outliers detected
num_males: 3764 outliers detected
mainland_stay_nights: 612 outliers detected
island_stay_nights: 321 outliers detected
spend_category: 0 outliers detected

==================================================
OUTLIER DETECTION for test dataset
==================================================
num_females: 302 outliers detected
num_males: 2131 outliers detected
mainland_stay_nights: 464 outliers detected
island_stay_nights: 240 outliers detected

In [34]:
save_dir = dataset_dir.joinpath("preprocessed")
os.makedirs(save_dir, exist_ok=True)
train_df.to_csv(save_dir.joinpath("train_preprocessed.csv"), index=False)
test_df.to_csv(save_dir.joinpath("test_preprocessed.csv"), index=False)
print(f"\nPreprocessed datasets saved to {save_dir}")

Preprocessed datasets saved to c:\Users\gathi\projects\ML-Project-2\Multi-class Problem\datasets\preprocessed

## Feature Engineering

Creating new features based on existing ones to enhance model performance. Do check if you need more features and change code as neccessary.

New features created:
 - age_group split into categogories

In [35]:
print("\n" + "="*50)
print("EXPLORATORY DATA ANALYSIS for train")
print("="*50)
d = perform_eda(train_df)
print("\n" + "="*50)
print("EXPLORATORY DATA ANALYSIS for test")
print("="*50)
d = perform_eda(test_df)

==================================================
EXPLORATORY DATA ANALYSIS for train
==================================================

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
Index: 10492 entries, 0 to 12652
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   trip_id                      10492 non-null  object
 1   country                      10492 non-null  object
 2   age_group                    10492 non-null  object
 3   travel_companions            10492 non-null  object
 4   num_females                  10492 non-null  float64
 5   num_males                    10492 non-null  float64
 6   main_activity                10492 non-null  object
 7   visit_purpose                10492 non-null  object
 8   is_first_visit               10492 non-null  object
 9   mainland_stay_nights         10492 non-null  int64
 10  island_stay_nights           10492 non-null  int64
 11  tour_type                    10492 non-null  object
 12  intl_transport_included      10492 non-null  object
 13  info_source                  10492 non-null  object
 14  accomodation_included        10492 non-null  object
 15  food_included                10492 non-null  object
 16  domestic_transport_included  10492 non-null  object
 17  sightseeing_included         10492 non-null  object
 18  guide_included               10492 non-null  object
 19  insurance_included           10492 non-null  object
 20  total_trip_days              10492 non-null  object
 21  spend_category               10492 non-null  float64
dtypes: float64(3), int64(2), object(17)
memory usage: 1.8+ MB
None

Dataset Shape: (10492, 22)

Statistical Summary:
        num_females     num_males  mainland_stay_nights  island_stay_nights  \
count  10492.000000  10492.000000          10492.000000        10492.000000
mean       0.973313      1.030499              9.132863            2.588448
std        1.275452      1.186869             15.023836            5.190645
min        0.000000      0.000000              0.000000            0.000000
25%        0.000000      1.000000              3.000000            0.000000
50%        1.000000      1.000000              6.000000            0.000000
75%        1.000000      1.000000             11.000000            5.000000
max       49.000000     44.000000            365.000000          240.000000

       spend_category
count    10492.000000
mean         0.600267
std          0.677225
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          2.000000

Missing Values:
Empty DataFrame
Columns: [Missing_Count, Percentage]
Index: []

Data Types:
object     17
float64     3
int64       2
Name: count, dtype: int64

Duplicate Rows: 0

Unique Values in Categorical Columns:
trip_id: 10492 unique values
country: 120 unique values
age_group: 5 unique values
   -> [Low Cardinality] Values: ['45-64', '25-44', '18-24', '65+', '<18']
travel_companions: 5 unique values
   -> [Low Cardinality] Values: ['With Spouse and Children', 'Alone', 'With Other Friends/Relatives', 'With Spouse', 'With Children']
main_activity: 10 unique values
   -> [Low Cardinality] Values: ['Beach Tourism', 'Conference Tourism', 'Cultural Tourism', 'Wildlife Tourism', 'Hunting Tourism', 'Widlife Tourism', 'Mountain Climbing', 'Bird Tourism', 'Business', 'Diving and Sport Fishing']
visit_purpose: 8 unique values
   -> [Low Cardinality] Values: ['Leisure and Holidays', 'Meetings and Conference', 'Business', 'Scientific and Academic', 'Visiting Friends and Relatives', 'Other', 'Volunteering', 'Medical']
is_first_visit: 2 unique values
   -> [Low Cardinality] Values: ['Yes', 'No']
tour_type: 2 unique values
   -> [Low Cardinality] Values: ['Independent', 'Package Tour']
intl_transport_included: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes']
info_source: 8 unique values
   -> [Low Cardinality] Values: ['Newspaper, magazines, brochures', 'Others', 'Friends, relatives', 'Travel agent, tour operator', 'Mexican Mission Abroad', 'Radio, TV, Web', 'Trade fair', 'Inflight magazines']
accomodation_included: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes']
food_included: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes']
domestic_transport_included: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes']
sightseeing_included: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes']
guide_included: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes']
insurance_included: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes']
total_trip_days: 4 unique values
   -> [Low Cardinality] Values: ['30+', '7-14', '15-30', '1-6']

[SUCCESS] Low cardinality categories saved to 'categorical_config.json'

==================================================
EXPLORATORY DATA ANALYSIS for test
==================================================

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5852 entries, 0 to 5851
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   trip_id                      5852 non-null   object
 1   country                      5852 non-null   object
 2   age_group                    5852 non-null   object
 3   travel_companions            5852 non-null   object
 4   num_females                  5852 non-null   float64
 5   num_males                    5852 non-null   float64
 6   main_activity                5852 non-null   object
 7   visit_purpose                5852 non-null   object
 8   is_first_visit               5852 non-null   object
 9   mainland_stay_nights         5852 non-null   float64
 10  island_stay_nights           5852 non-null   float64
 11  tour_type                    5852 non-null   object
 12  intl_transport_included      5852 non-null   object
 13  info_source                  5852 non-null   object
 14  accomodation_included        5852 non-null   object
 15  food_included                5852 non-null   object
 16  domestic_transport_included  5852 non-null   object
 17  sightseeing_included         5852 non-null   object
 18  guide_included               5852 non-null   object
 19  insurance_included           5852 non-null   object
 20  total_trip_days              5852 non-null   object
dtypes: float64(4), object(17)
memory usage: 960.2+ KB
None

Dataset Shape: (5852, 21)

Statistical Summary:
       num_females    num_males  mainland_stay_nights  island_stay_nights
count  5852.000000  5852.000000           5852.000000         5852.000000
mean      0.920027     0.975735              9.004272            2.443096
std       1.093210     1.026778             13.171125            5.571739
min       0.000000     0.000000              0.000000            0.000000
25%       0.000000     1.000000              3.000000            0.000000
50%       1.000000     1.000000              6.000000            0.000000
75%       1.000000     1.000000             10.000000            4.000000
max      15.000000    24.000000            300.000000          120.000000

Missing Values:
Empty DataFrame
Columns: [Missing_Count, Percentage]
Index: []

Data Types:
object     17
float64     4
Name: count, dtype: int64

Duplicate Rows: 0

Unique Values in Categorical Columns:
trip_id: 5852 unique values
country: 117 unique values
age_group: 5 unique values
   -> [Low Cardinality] Values: ['25-44', '45-64', '65+', '18-24', '<18']
travel_companions: 5 unique values
   -> [Low Cardinality] Values: ['Alone', 'With Spouse', 'With Other Friends/Relatives', 'With Spouse and Children', 'With Children']
main_activity: 10 unique values
   -> [Low Cardinality] Values: ['Widlife Tourism', 'Cultural Tourism', 'Wildlife Tourism', 'Beach Tourism', 'Hunting Tourism', 'Conference Tourism', 'Mountain Climbing', 'Business', 'Bird Tourism', 'Diving and Sport Fishing']
visit_purpose: 8 unique values
   -> [Low Cardinality] Values: ['Business', 'Leisure and Holidays', 'Visiting Friends and Relatives', 'Meetings and Conference', 'Volunteering', 'Scientific and Academic', 'Other', 'Medical']
is_first_visit: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes']
tour_type: 2 unique values
   -> [Low Cardinality] Values: ['Independent', 'Package Tour']
intl_transport_included: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes']
info_source: 8 unique values
   -> [Low Cardinality] Values: ['Friends, relatives', 'Travel agent, tour operator', 'Others', 'Radio, TV, Web', 'Newspaper, magazines, brochures', 'Trade fair', 'Mexican Mission Abroad', 'Inflight magazines']
accomodation_included: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes']
food_included: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes']
domestic_transport_included: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes']
sightseeing_included: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes']
guide_included: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes']
insurance_included: 2 unique values
   -> [Low Cardinality] Values: ['No', 'Yes']
total_trip_days: 4 unique values
   -> [Low Cardinality] Values: ['15-30', '1-6', '30+', '7-14']

[SUCCESS] Low cardinality categories saved to 'categorical_config.json'

## Things left to do

Do the following preprocessing steps based on your requirements.

1) Feature Engineering
2) Feature Encoding
4) Encoding Categorical Variables
3) Feature Scaling
4) Feature Selection
5) Data Validation